.color {
  display: inline-block;
  padding: 40px;
  margin: 3px;
  border: solid 1px black;
}

#pixel-board {
    max-width: 450px;
}

.line {
    display: block;
}

.pixel {
    border: solid 1px black; 
    padding: 40px;
    display: inline-block;
    margin: -2px;
    background-color: white;
}

.colorRed {
  background-color: rgb(245, 44, 44);
}

.colorBlue {
  background-color: rgb(110, 110, 243);
}

.colorGreen {
  background-color: greenyellow;
}

.colorBlack {
  background-color: black;
}
