body {
  background-color: rgb(182, 174, 174);
}

.color {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 3px;
  border: solid 1px black;
  box-sizing: border-box;
}

#pixel-board {

  /* referência: https://developer.mozilla.org/pt-BR/docs/Web/CSS/max-width */
  margin-top: 5px;
}

.line {
  display: block;
}

.pixel {
  border: solid 1px black;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: -2px;
}
